


# ignore everything else at the root
/*

# keep these
!/data/
!/scripts/
!/README.md
!/environment.yml
!/renv/
!/renv.lock

# dont track random script things
/scripts/transcriptomic/__pycache__
/scripts/transcriptomic/3d*

# dont track the writing
/Writing/

# still explicitly ignore raw transcriptomic data
/data/

# don't track results
/results/

# do not track saved AnnData objects
/results/transcriptomic/tables/*.h5ad

# misc
.Rproj.user
